:root {
  --border-color: hsl(216deg 25% 30%);
  --body-color: #ddd;
  --light-green: #77b55a;
  --light-back: #404759;
  --dark-back: rgba(15, 10, 52, 0.45);
  --dark-back-hex: #131329;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Roboto', 'Oxygen', 'Segoe UI', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161920;
}

.topContainer {
  display: flex;
  gap: 10%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.topStats{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:90%;
  gap:10%;
  justify-content: center;
  align-items: center;
}