.featuredModContainer {
  /* width: 50%; */
  box-sizing: border-box;
  min-width: 500px;
  padding-top: 0;
  margin-bottom: 20px;
}

.featureModInner {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 1em 0;
}

.featuredModImage {
  height: 200px;
  width: 200px;
}

.featuredStatsTableContainer {
  background-color: var(--dark-back);
  border-radius: calc(0.1 * 100px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45), inset 0 0 52px rgba(15, 10, 52, 0.45);;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.featuredTableLabel {
  text-align: left;
  padding-left: 1.25em;
  color: var(--body-color);
  text-shadow: 0.04em 0.04em #000;
}

.featuredTableValue {
  text-align: right;
  width: 40%;
  font-weight: bold;
  color: var(--light-green);
  text-shadow: 0.04em 0.04em #000;
}

.featuredStars {
  padding-top: 1em;
  text-align: center;
  padding-bottom: 0.5em;
}

.featuredTableHead {
  height: 2em;
  font-size: 1.25em;
  color: var(--body-color);
  text-shadow: 0.04em 0.04em #000;
}

.featuredTitle {
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.75em;
}

.featuredTableMid {
  text-align: center;
  width: 33%;
  color: #000;
  font-weight: 500;
  padding: 0.25em;
}
.midValue {
  color: var(--body-color);
  font-weight: bold;
  text-shadow: 0.04em 0.04em #000;
  padding: 0.25em 0;
  padding-bottom: 0.75em;
}
.featuredTableBottom {
  /* margin-top: 10px; */
  background: var(--light-green);
  border-bottom-right-radius: calc(0.1 * 100px);
  border-bottom-left-radius: calc(0.1 * 100px);
  border-collapse: collapse;
  box-shadow: inset 4px -5px 10px rgb(4, 102, 19);
  margin-top:auto;
}

.featuredTableBottom td + td {
  border-left: 2px solid var(--light-back);
}

.featureImageContainer {
  /* margin-right: auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.player-info li {
  list-style-type: none;
}

.featureModInner {
  background-color: var(--light-back);
  border-radius: calc(0.1 * 100px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), inset 3px 3px 6px rgba(255, 255, 255, 0.1),
    inset 0 0 22px rgba(23, 23, 23, 0.85);
    max-width:750px
}

.featuredTitle {
  text-align: center;
  color: var(--body-color);
  margin-top: 0;
  max-width:600px;
}

.featuredTableHead a {
  text-decoration: none;
  color: var(--body-color);
}
.featuredTableHead a:visited {
  text-decoration: none;
  color: var(--body-color);
}

.featuredTableHead a:focus,
.featuredTableHead a:hover {
  text-decoration: underline;
}

.featuredTable {
  
  border-radius: calc(0.1 * 100px);
}

.header-info-holder {
  width: 100%;
}
.player-info li button {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
}

.player-info li button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.player-info li button:hover:after {
  opacity: 1;
  right: 7px;
}
.player-info li button:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  font-size: 22px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


.featuredLeft{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.featuredLink{
  width:100%;
  padding:.5em 0;
  border-radius: calc(.1 * 50px);
  margin-top:3px;
  background-color: rgba( 0, 0, 0, 0.4 );
  color: #939393;
  font-weight:bold;
  font-size: .9em;
  transition: all .3s ease;
}

.featuredLink:hover{
  background-color: var(--light-green);
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba( 0, 0, 0, 0.4 );
  text-shadow: 0.04em 0.04em #000;
}