/* YourComponent.module.css */

.mod {
  width: calc(5% + 200px);
  margin: 1em 1.25em;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-color: var(--light-back);
  border-radius: calc(0.1 * 100px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), inset 3px 3px 6px rgba(255, 255, 255, 0.1),
    inset 0 0 22px rgba(23, 23, 23, 0.85);
}

.modImage {
  height: 200px;
  width: 200px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.smallTitle {
  text-align: center;
  margin: 0.5em 0;
  color: var(--body-color);
  text-shadow: 0.04em 0.04em #000;
}

.tableValue,
.smallTableValue {
  text-align: right;
}

.flip3D {
  position: relative;
  width: 100%;
}

.flip3D > .front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
  width: 100%;
}

.flip3D > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
  width: 100%;
}

.frontInvis {
  visibility: hidden;
}

.modstars {
  padding-top: 0.75em;
  text-align: center;
}

.smallModStatistics {
  width: 90%;
  padding: 0;
  padding-bottom: 0.5em;
  background-color: var(--dark-back);
  padding-top: 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: calc(0.1 * 100px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45), inset 0 0 52px rgba(15, 10, 52, 0.65);
}
.flip3D {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: hidden;
}

.flip3D::-webkit-scrollbar {
  display: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 150%;
  /* vertical-align: bottom; */
  padding-top: 0.3em;
  overflow-x: hidden;
}

.tag {
  font-size: 0.75rem;
  margin: 0.25em 0.25em;
  border-radius: 3px;
  padding: 0.1em;
  font-weight: bold;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
  background: var(--light-green);
  padding: 0.1em;
  box-shadow: inset 2px 2px 4px #a5e151, inset -2px -2px 4px #61a10c, 1px 1px 2px #2a4802;
  font-weight: bold;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.tag:hover {
  background: #82bb37;
}

.tagsLabel {
  text-align: center;
}
.closeButton {
  font-size: 0.85em;
  transition: 0.3s;
  font-weight: bold;
  padding-right: 10px;
  color: #ff4c4c;
  text-shadow: 0.03em 0.03em #8d0000;
  transition: 0.25s;
}

.closeButton:hover {
  cursor: pointer;
  color: #fb2222;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.smallTableValue.backTable {
  white-space: nowrap;
}

.smallTableValue {
  padding-right: 1em;
  color: var(--light-green);
  font-weight: bold;
  text-shadow: 0.04em 0.04em #000;
}

.smallTableLabel {
  padding-left: 1em;
  color: var(--body-color);
  text-shadow: 0.04em 0.04em #000;
}

.modContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modImageContainer {
  position: relative;
  text-align: center;
  padding-top: 15px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.tagsRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25em;
}

.tagsHeader {
  text-align: center;
  color: var(--body-color);
  text-shadow: 0.04em 0.04em #000;
  margin-bottom: 5px;
}

.smallTitle a,
.smallTitle a:visited {
  text-decoration: none;
  color: #fff;
}
.smallTitle a:hover,
.smallTitle a:focus {
  text-decoration: underline;
}

.subscriberDifference {
  position: absolute;
  right: 1.5em;
  font-weight: bold;
}

.gameTitle {
  text-align: center;
}
.gameImage {
  width: 90%;
  max-height: 120px;
  border-radius: calc(0.1 * 100px);
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonHolder button {
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 7px 7px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border: 1px solid #4b8f29;
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0.05em 0.05em #000;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.buttonHolder button:hover {
  background: #457d2b;
  background-color: #457d2b;
  border: none;
}

.buttonHolder button {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
}
.buttonHolder button.linkButton:hover,
.buttonHolder button.statsButton:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.buttonHolder button.linkButton:hover:after,
.buttonHolder button.statsButton:hover:after {
  opacity: 1;
  right: 7px;
}
.buttonHolder button.linkButton:after,
.buttonHolder button.statsButton:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  font-size: 22px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.smallModStatistics tr td:nth-child(3) {
  min-width: 20px;
}

.sortButtonsContainer p {
  display: inline-block;
  color: var(--body-color);
  font-weight: bold;
  font-size: 1.125em;
  margin: 0;
}

.sortButtonsContainer button {
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 7px 7px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border: 1px solid #4b8f29;
  display: inline-block;
  color: #ffffff;
  font-size: 1.125em;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0.04em 0.04em #000;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
  border: none;
}

.sortButtonsContainer button:hover {
  background: #457d2b;
  background-color: #457d2b;
  border: none;
}

.sortButtonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 20px;
}

.sortButtonsContainer button:not(.active) {
  background: rgba(69, 125, 43, 0.75);
  background-color: rgba(69, 125, 43, 0.75);
  border: none;
  color: rgba(221, 221, 221, 0.85);
}
